{% extends "layout.html" %} {% block content %}
<div>
  <div class="font-bold text-3xl m-3">Welcome to Password Vault</div>
  <div class="mx-20">
    <!-- form to get master password -->
    <form action="./get-master-password" method="POST">
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="master-password"
        >
          Master Password
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="master-password"
          type="password"
          placeholder="******************"
          name="master-password"
        />
      </div>
      <div class="flex items-center justify-between">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit"
        >
          Enter
        </button>
      </div>
    </form>
    <div>
      {% if error %}
      <div class="text-red-500 my-3 text-sm font-bold">{{ error }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
