{% extends "layout.html" %} {% block content %}
<div class="mx-10 my-10 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <div class="text-2xl pb-10 font-semibold">
    View passwords stored in your vault
  </div>
  <div>
    {% if message %}
    <div class="text-green-500 mb-5 text-center text-sm font-bold">
      {{ message }}
    </div>
    {% endif %}
  </div>
  <form action="./get-password" method="POST">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="website">
        Search by website
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="website"
        type="text"
        placeholder="Website"
        name="website"
      />
    </div>
    <div class="flex items-center justify-between">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
      >
        Get Password
      </button>
    </div>
    {% if passwords_count is defined and passwords_count > 0 %}
    <div class="mt-3">
      <table class="w-full">
        <thead class="bg-gray-700 text-white">
          <tr>
            <th class="px-4 py-2">Website</th>
            <th class="px-4 py-2">Username</th>
            <th class="px-4 py-2">Password</th>
          </tr>
        </thead>
        <tbody>
          {% for website in websites %}
          <tr>
            <td class="border px-4 py-2">{{ website }}</td>
            <td class="border px-4 py-2">
              {{ passwords[website]['username'] }}
            </td>
            <td class="border px-4 py-2">
              {{ passwords[website]['password'] }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </form>
</div>
{% endblock %}
